body {
    text-align: center;
}

div {
    background-color: cadetblue;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 3px gray;
}

input [type = text] {
    width: 300px;
    text-align: center;
}

div.x0 {
    background-color: red;
}

div.x1 {
    background-color: green;
}